In [0]:
# 패키지 불러오기
import requests # api 요청
import json
import pandas as pd
import numpy as np
import time
import urllib.parse

In [0]:
API = "RGAPI-d026e00a-7742-4520-b216-adc3ae4a35e1"   #라이엇 api 키

name = input("소환사 이름을 입력하세요 : ")
name = name.replace(" ", "")     

URL =  "https://kr.api.riotgames.com/lol/summoner/v4/summoners/by-name/" + urllib.parse.quote_plus(name, encoding='utf-8') + "?api_key=" + API

r = requests.get(URL)         
basic = json.loads(r.text)   

accountId = basic['accountId']

print(accountId)

소환사 이름을 입력하세요 : 파고다토익RC
_O6Dq-eZnsKLKavx-XrTAKrm9khCoF-7DmmufWrtW0pB

In [0]:
URL = "https://kr.api.riotgames.com/lol/match/v4/matchlists/by-account/" + accountId + "?api_key=" + API

r = requests.get(URL)         
data = json.loads(r.text)

In [0]:
# 최근 100게임 중 랭크 게임의 게임 id 가져오기 
gameid = []
k = 0

while k < 100:
  if data["matches"][k]["queue"] == 420:
    gameid.append(data["matches"][k]["gameId"])
    k = k + 1
  else:
    k = k + 1
    pass

gameid

[4276939366, 4274903255, 4274806265]

In [0]:
URL = "https://kr.api.riotgames.com/lol/match/v4/matches/" + str(gameid[0]) + "?api_key=" + API
r = requests.get(URL)         
stat = json.loads(r.text)

In [0]:
for n in range(1, 10):
  if stat["participantIdentities"][n]["player"]["summonerName"] == name:
    participantId = stat["participantIdentities"][n]["participantId"]
  else:
    pass

print(participantId)

2

In [0]:
for w in range(10):
  if stat["participants"][w]["participantId"] == participantId:
    stats = stat["participants"][w]["stats"]
  else:
    pass

col= stats.keys()

In [0]:
df = pd.DataFrame(columns = col)
a = pd.DataFrame(stats, columns = col, index = [0])
df = pd.concat([df, a], axis = 0)

df

  participantId    win item0 item1  ... perkSubStyle statPerk0 statPerk1 statPerk2
0             2  False  3086  3153  ...         8200      5005      5008      5001

[1 rows x 104 columns]

In [0]:
API = "RGAPI-d026e00a-7742-4520-b216-adc3ae4a35e1"   #라이엇 api 키
df = pd.DataFrame(columns = col)

name = input("소환사 이름을 입력하세요 : ")
name = name.replace(" ", "")     

URL =  "https://kr.api.riotgames.com/lol/summoner/v4/summoners/by-name/" + urllib.parse.quote_plus(name, encoding='utf-8') + "?api_key=" + API

r = requests.get(URL)         
basic = json.loads(r.text)   

accountId = basic['accountId']

URL = "https://kr.api.riotgames.com/lol/match/v4/matchlists/by-account/" + accountId + "?api_key=" + API

r = requests.get(URL)         
data = json.loads(r.text)

# 최근 100게임 중 랭크 게임의 게임 id 가져오기 
gameid = []
k = 0

while k < 100:
  if data["matches"][k]["queue"] == 420:
    gameid.append(data["matches"][k]["gameId"])
    k = k + 1
  else:
    k = k + 1
    pass

for i in range(len(gameid)):
  URL = "https://kr.api.riotgames.com/lol/match/v4/matches/" + str(gameid[i]) + "?api_key=" + API
  r = requests.get(URL)         
  stat = json.loads(r.text)

  for n in range(1, 10):
    if stat["participantIdentities"][n]["player"]["summonerName"] == name:
      participantId = stat["participantIdentities"][n]["participantId"]
    else:
      pass

  for w in range(10):
    if stat["participants"][w]["participantId"] == participantId:
      stats = stat["participants"][w]["stats"]
    else:
      pass 

  a = pd.DataFrame(stats, columns = col, index = [0])
  df = pd.concat([df, a], axis = 0)

df

소환사 이름을 입력하세요 : 칼바람막타장인

  participantId    win item0 item1  ... perkSubStyle statPerk0 statPerk1 statPerk2
0             4  False  3853  3157  ...         8300      5008      5008      5001
0             3   True  3857  3800  ...         8300      5005      5002      5001
0             3  False  3371  3508  ...         8200      5005      5008      5002
0             9   True  3857  3800  ...         8300      5007      5002      5001
0             2  False  3853  3157  ...         8300      5008      5002      5002
0             4  False  3857  2420  ...         8100      5008      5008      5001
0             6  False  3853  3157  ...         8300      5008      5008      5002
0             6   True  2031  3085  ...         8100      5005      5003      5002
0             3   True  3853  3157  ...         8300      5008      5008      5002
0             9  False  3857  3142  ...         8100      5008      5008      5001
0             6   True  3855  3179  ...         8100      5008      5008      5001
0             8  False  3855  3117  ...         8100      5008      5008      5001

[12 rows x 104 columns]

In [0]:
print(df.columns)

Index(['participantId', 'win', 'item0', 'item1', 'item2', 'item3', 'item4',
       'item5', 'item6', 'kills',
       ...
       'perk4Var3', 'perk5', 'perk5Var1', 'perk5Var2', 'perk5Var3',
       'perkPrimaryStyle', 'perkSubStyle', 'statPerk0', 'statPerk1',
       'statPerk2'],
      dtype='object', length=104)

In [0]:
np.mean(df["kills"])

3.703125

In [0]:
np.mean(df)

participantId          5.250000
win                    0.416667
item0               3662.666667
item1               3223.250000
item2               2936.416667
                       ...
perkPrimaryStyle    8241.666667
perkSubStyle        8208.333333
statPerk0           5007.166667
statPerk1           5006.083333
statPerk2           5001.416667
Length: 104, dtype: float64

In [0]:
df_new = pd.DataFrame(np.mean(df))

In [0]:
df_new.T

   participantId       win        item0  ...    statPerk0    statPerk1    statPerk2
0           5.25  0.416667  3662.666667  ...  5007.166667  5006.083333  5001.416667

[1 rows x 104 columns]

In [0]:
API = "RGAPI-d026e00a-7742-4520-b216-adc3ae4a35e1"   # 라이엇 api 키
df = pd.DataFrame(columns = col)   # 최종으로 사용할 데이터프레임

name0, name1, name2, name3, name4 = input("소환사 5명의 이름을 입력하세요 : ").split(",")
names = [name0, name1, name2, name3, name4]

for i in range(5):
  dff = pd.DataFrame(columns = col)
  name = names[i]
  name = name.replace(" ", "")     

  URL1 =  "https://kr.api.riotgames.com/lol/summoner/v4/summoners/by-name/" + urllib.parse.quote_plus(name, encoding='utf-8') + "?api_key=" + API
  try:
    r = requests.get(URL1, timeout =30)
    while r.status_code!=200: 
      time.sleep(5)
      r = requests.get(URL1)                  
  except Exception as e:
    print(e)

  basic = json.loads(r.text)   

  accountId = basic['accountId']

  URL2 = "https://kr.api.riotgames.com/lol/match/v4/matchlists/by-account/" + accountId + "?api_key=" + API

  try:
    r = requests.get(URL2, timeout =30)
    while r.status_code!=200:
      time.sleep(5)
      r = requests.get(URL2)                  
  except Exception as e:
    print(e)
  data = json.loads(r.text)

  # 최근 100게임 중 랭크 게임의 게임 id 가져오기 
  gameid = []
  k = 0

  while k < 100:
    if data["matches"][k]["queue"] == 420:
      gameid.append(data["matches"][k]["gameId"])
      k = k + 1
    else:
      k = k + 1
      pass

  for i in range(len(gameid)):
    URL3 = "https://kr.api.riotgames.com/lol/match/v4/matches/" + str(gameid[i]) + "?api_key=" + API
    try:
      r = requests.get(URL3, timeout =30)
      while r.status_code!=200: # 요청 제한 또는 오류로 인해 정상적으로 받아오지 않는 상태라면, 5초 간 시간을 지연
        time.sleep(5)
        r = requests.get(URL3)         
    except Exception as e:
      print(e)
    stat = json.loads(r.text)

    for n in range(1, 10):
      if stat["participantIdentities"][n]["player"]["summonerName"] == name:
        participantId = stat["participantIdentities"][n]["participantId"]
      else:
        pass

    for w in range(10):
      if stat["participants"][w]["participantId"] == participantId:
        stats = stat["participants"][w]["stats"]
      else:
        pass 

    
    a = pd.DataFrame(stats, columns = col, index = [0])
    dff = pd.concat([dff, a], axis = 0)

  df_new = pd.DataFrame(np.mean(dff))
  df_new = df_new.T
  df = pd.concat([df, df_new], axis = 0)

소환사 5명의 이름을 입력하세요 : 파고다토익RC, 칼바람막타장인, ultman, 니클백53, 신이데아

In [0]:
df

   participantId       win        item0  ...    statPerk0    statPerk1    statPerk2
0       7.000000  0.000000  1732.000000  ...  5005.000000  5008.000000  5001.000000
0       5.250000  0.416667  3662.666667  ...  5007.166667  5006.083333  5001.416667
0       6.265625  0.375000  2663.437500  ...  5005.250000  5007.468750  5001.625000
0       6.370370  0.407407  1558.111111  ...  5005.222222  5008.000000  5001.925926
0       5.634146  0.560976  2683.560976  ...  5005.658537  5007.731707  5001.902439

[5 rows x 104 columns]

In [0]:
df.columns.values

array(['participantId', 'win', 'item0', 'item1', 'item2', 'item3',
       'item4', 'item5', 'item6', 'kills', 'deaths', 'assists',
       'largestKillingSpree', 'largestMultiKill', 'killingSprees',
       'longestTimeSpentLiving', 'doubleKills', 'tripleKills',
       'quadraKills', 'pentaKills', 'unrealKills', 'totalDamageDealt',
       'magicDamageDealt', 'physicalDamageDealt', 'trueDamageDealt',
       'largestCriticalStrike', 'totalDamageDealtToChampions',
       'magicDamageDealtToChampions', 'physicalDamageDealtToChampions',
       'trueDamageDealtToChampions', 'totalHeal', 'totalUnitsHealed',
       'damageSelfMitigated', 'damageDealtToObjectives',
       'damageDealtToTurrets', 'visionScore', 'timeCCingOthers',
       'totalDamageTaken', 'magicalDamageTaken', 'physicalDamageTaken',
       'trueDamageTaken', 'goldEarned', 'goldSpent', 'turretKills',
       'inhibitorKills', 'totalMinionsKilled', 'neutralMinionsKilled',
       'neutralMinionsKilledTeamJungle',
       'neutralMinionsKilledEnemyJungle', 'totalTimeCrowdControlDealt',
       'champLevel', 'visionWardsBoughtInGame', 'sightWardsBoughtInGame',
       'wardsPlaced', 'wardsKilled', 'firstBloodKill', 'firstBloodAssist',
       'firstTowerKill', 'firstTowerAssist', 'firstInhibitorKill',
       'firstInhibitorAssist', 'combatPlayerScore',
       'objectivePlayerScore', 'totalPlayerScore', 'totalScoreRank',
       'playerScore0', 'playerScore1', 'playerScore2', 'playerScore3',
       'playerScore4', 'playerScore5', 'playerScore6', 'playerScore7',
       'playerScore8', 'playerScore9', 'perk0', 'perk0Var1', 'perk0Var2',
       'perk0Var3', 'perk1', 'perk1Var1', 'perk1Var2', 'perk1Var3',
       'perk2', 'perk2Var1', 'perk2Var2', 'perk2Var3', 'perk3',
       'perk3Var1', 'perk3Var2', 'perk3Var3', 'perk4', 'perk4Var1',
       'perk4Var2', 'perk4Var3', 'perk5', 'perk5Var1', 'perk5Var2',
       'perk5Var3', 'perkPrimaryStyle', 'perkSubStyle', 'statPerk0',
       'statPerk1', 'statPerk2'], dtype=object)